<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <!-- HEADER FRAGMENT -->
    <header th:fragment="header">
        <img id="header-background-image" src="/images/headerImage.webp" alt="Illustration of central Copenhagen">
        <h1>TOURIST GUIDE</h1>
    </header>

    <!-- NAV FRAGMENT -->
    <div id="nav-container" th:fragment="topNav">
        <nav id="top-nav">
            <a href="/">Home</a>
            <a href="/attractions">Attractions</a>
<!--            <a href="/about.html">About</a>-->
        </nav>
    </div>

    <!--Dialog Box fragment -->
    <dialog id="error-box" th:fragment="errorBox(message)" open>
        <form>
            <p th:text="${message}"></p>
            <button>OK</button>
        </form>
    </dialog>
    <!-- CONTENT FRAGMENTS || Could be useful for dynamically generated sections? -->
    <section th:fragment="sections"></section>

    <article th:fragment="articles" class="info-box"></article>

    <!-- FOOTER FRAGMENT -->
    <footer th:fragment="footer">
        <p>
            Tourist Guide API<br>
            Tlf. 00 00 00 00 <br>
            CVR-Nummer 00000000
        </p>
    </footer>
</body>
</html>